/* local.modules.css */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* 2列に設定 */
  gap: 16px;  /* カードとグラフの間にスペースを追加 */
  margin-bottom: 32px; /* 下の余白 */
  align-items: center; /*縦方向の中央揃え */
}

.mainbackContent {
  margin-left: 15vw;  /* サイドバーの横幅と同じ値 */
  margin-top: 1vw;  /* サイドバーの横幅と同じ値 */
  margin-bottom: 1vw;  /* サイドバーの横幅と同じ値 */
  padding: 30px;   
  width: calc(99% - 15vw); /* サイドバー分だけ余白を確保 */
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 40px 40px 40px 40px;
  position: relative; 
}


.mainContent {
  margin-left: 0vw;  /* サイドバーの横幅と同じ値 */
  margin-top: 1vw;  /* サイドバーの横幅と同じ値 */
  margin-bottom: 1vw;  /* サイドバーの横幅と同じ値 */
  padding: 30px;   
  width: calc(99% - 22vw); /* サイドバー分だけ余白を確保 */
  background-color: rgba(252, 252, 252, 0);
  border-radius: 40px 40px 40px 40px;
}

/*右側のサイドバー */
.sidebarRight {
  width: 22vw;  
  height: 98%;  
  position: absolute;
  margin-top: 1vw; 
  margin-bottom: 10vw;  
  margin-right: 1vw; 
  right: 0;  
  top: 0;
  background-color: rgba(252, 252, 252, 0.7);  
  border-left: 1px solid #ddd;  
  display: flex;
  flex-direction: column; /* アイテムを縦に並べる */
  align-items: flex-start; /* アイテムを上に揃える */
  padding: 20px;
  z-index: 10;   
  border-radius: 40px 40px 40px 40px;
}

/* 右側のサイドバー 
.sidebarRight {
  width: 30vw;  
  height: 100vh;  
  position: fixed;
  margin-top: 2vw; 
  margin-bottom: 2vw;  
  margin-right: 2vw; 
  right: 0;  
  top: 0;
  background-color: #a3d5c2;  
  border-left: 1px solid #ddd;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 10;   
  border-radius: 40px 40px 40px 40px;
}*/