  .piyoback {
    display: flex;
    align-items: center; /* 縦方向に中央揃え */
    width: 100%;
    height: 200px;
  }

  .piyo {
    display: flex;
    align-items: center; /* 縦方向に中央揃え */
    width: 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  /* styles.container */
  .container {
    position: relative; /* 画像とtipを重ねるために相対的に配置 */
    display: inline-block; /* コンテンツのサイズに合わせる */
  }

  .tip {
    font-family:  'KraftMincho';
    position: absolute; /* 画像の上に絶対位置で配置 */
    top: 50%; /* 画像の縦方向中央 */
    left: 50%; /* 画像の横方向中央 */
    width: 80%;
    transform: translate(-50%, -50%); /* 文字の中央を正確に配置 */
    color: rgb(70, 20, 20); /* テキストの色 */
    font-size: 3.8vw; /* フォントサイズ*/
    font-weight: bold; /* 必要に応じて文字を太くする */
  }

  .titleback{
    margin-top: 1vw;
    width: 100%; 
  }
  .titleImage{
    width: 40%;
  }

  .goalback{
    height: 20vh;
    width: 100vw; 
  }