.fullbackContent {
  margin: 1rem;
  width: 90vw;
  background-color: rgba(255, 250, 250, 0.9);
  border-radius: 40px 40px 40px 40px;
  position: relative; 
  z-index: 1; /* 他の要素よりも前面に表示 */
}

.mainbackContent {
  margin: 1rem;
  margin-left: 230px;
  width: 90%; /* サイドバー分だけ余白を確保 */
  background-color: rgb(245, 253, 226);
  border-radius: 40px 40px 40px 40px;
  position: relative; 
  z-index: -10; /* 他の要素よりも前面に表示 */
}
.mainContent {
  margin: 1rem;
  width: 70%; /* サイドバー分だけ余白を確保 */
  background-color: rgb(122, 201, 224);
  border-radius: 40px 40px 40px 40px;
  position: relative; 
  z-index: -10; /* 他の要素よりも前面に表示 */
}
.piyoback{
  display: flex;
}

/**/
.goalback{
  width: 90%;
}