/* 左のサイドバー */
.sidebar {
  width: 18vw;
  height: 100vh;
  /* background-color: #5f9ea0; */
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  top: 0;
  left: 0;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 8px; /* アイコンと文字の間にスペースを追加 */
  
}

/* ボタン全体のスタイル */
.sidebarButton {
  display: flex;
  gap: 8px; /* アイコンと文字の間にスペース */
  padding-bottom: 16px;
}

/* 文字のスタイル */
.buttonText {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

  