@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e4e4e4;
  }

 /* カレンダーの中身 */
.react-calendar {
  border: none; /* 枠線を削除 */
  border-radius: 20px; /* カレンダー内の角を丸くする */
  background-color: transparent; /* 背景を透明にして、影を際立たせる */
  background-color: rgba(255, 255, 255, 0.1)!important; 
}
