
  /* サイドバーのスタイル */
  .sidebar {
    width: 60px;
    height: 100vh;
    background-color: #5f9ea0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  
  /* サイドバーのボタンスタイル */
  .sidebarButton {
    margin-bottom: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  
  /* 表のスタイル */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-family: cursive;
    color: #4c7d7e;
  }

  
  /* アクションボタンのスタイル */
  .actionEditButton {
    border: none;
    padding: 0.25rem 0.5rem;
    margin-Right: 10%;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    background-color: #5497d577;
    color: white;
  }

  .actionDeleteButton {
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    background-color: #d94e4e65;
    color: white;
  }
  
  /* モーダル背景 */
  .modalBackground {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  /* モーダル本体 */
  .modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* モーダルのボタン */
  .modalButton {
    background-color: #3182ce;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .modalButtonclose {
    background-color: gray;
    margin-left: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .modalButtonlogout {
    background-color: rgb(108, 179, 123);
    margin-left: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  /* style.module.css */

.metricCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow here */
  
}

.metricLabel {
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 4px;
  font-family: cursive;
}
/* Metric Value Styles */
.metricValue {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
}
  
.changeIndicator {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #888;
  font-family: cursive;
}
.changeINIndicator {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #d66d6d;
  font-family: cursive;
}
.changeOUTIndicator {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #6db3d6;
  font-family: cursive;
}

.increase {
  color: red;
}

.decrease {
  color: green;
}

.noChange {
  color: rgb(81, 81, 81);
}

.tableCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow here */ 
}

/*charts*/

/* グラフカード全般のスタイル */
.graphCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative; /* 相対位置を指定 */

}

/* 折れ線グラフのスタイル */
.lineChart {
  grid-column: span 2;
  position: relative; /* 相対位置を指定 */
  height: 300px; /* 高さを指定 */
  width: 100%; /* 横幅を100%に設定 */
  align-items: center; /* 縦方向に中央揃え */
  justify-content: center; /* 横方向に中央揃え */
}

/* 折れ線グラフのキャンバスサイズ */
.lineChart canvas {
  max-width: 90%; /* 幅を90%に設定 */
  max-height: 90%; /* 高さを90%に設定 */
  width: 100%; /* 横幅を100%に設定 */
  height: 100%; /* 高さを100%に設定 */
}

/* 円グラフのスタイル */
.donutChart {
  height: 300px; /* 高さを指定 */
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center; /* 縦方向に中央揃え */
  justify-content: center; /* 横方向に中央揃え */
}

/* 円グラフのサイズを小さくする */
.donutChart canvas {
  max-width: 80%; /* 幅を90%に設定 */
  max-height: 80%; /* 高さを90%に設定 */
}

/* 円グラフの中央ラベル */
.donutCenterLabel {
  position: absolute;
  font-size: 30px; /* サイズを少し小さくする */
  margin-top: 8%;
  margin-right: 5%;
  font-weight: bold;
  color: #FF9E9E;
  font-family: cursive;
}
.donutCenterLabel2 {
  position: absolute;
  font-size: 20px; /* サイズを少し小さくする */
  margin-top: 15%;
  font-weight: bold;
  color: #888;
  font-family: cursive;
}

/* グラフのタイトル */
.graphTitle {
  font-size: 0.875rem;
  color: #888;
  font-family: cursive;
  margin-bottom: 16px; /* グラフとのスペース */
  text-align: left; /* タイトルを左寄せにする */
}

