  .backgroundstyle {
    background-color:#5f9ea0;
    background-image:
    radial-gradient(at 85% 33%, hsla(156,27%,65%,0.92) 0px, transparent 50%),
    radial-gradient(at 7% 87%, hsla(211,46%,75%,1) 0px, transparent 50%);
  }

  

  
  /* モーダル背景 */
  .modalBackground {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  /* モーダル本体 */
  .modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* モーダルのボタン */
  .modalButton {
    background-color: #3182ce;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .modalButtonclose {
    background-color: gray;
    margin-left: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .modalButtonlogout {
    background-color: rgb(108, 179, 123);
    margin-left: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  /* 例: 時間入力欄のスタイル */
.timeInput {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.timeInput label {
  font-size: 16px;
  margin-bottom: 5px;
}

.timeInputField {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}



/* アイコンの基本スタイル */
/* アイコン選択ボタン */
.iconSelection button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5; /* デフォルトで半透明 */
  transition: opacity 0.3s ease;
}

/* アイコンが選択されている場合は opacity を解除 */
.iconSelection button.selected {
  opacity: 1; /* 選択されたアイコンは完全に表示 */
}

/* アイコンのサイズ */
.iconImage {
  width: 60px;
  height: 60px;
}








