.goalAll{
  width: 100%;
  height: 100%;
  display: grid; /* グリッドレイアウトを適用 */
  grid-template-columns: repeat(3, 1fr); /* 3列に設定 */
  gap: 1%; /* 各アイテムの間隔を0.75rem（12px）に設定 */
}
.metricCard00 {
  width: 100%;
  height: 80%;
  background-image: url('../../public/NowCard01.png');
  display: flex;
  align-items: center; /* アイコンとテキストを縦方向で中央揃え */
  border: 2px solid rgba(0, 0, 0, 0.295); /* 枠線を黒で太く */
  border-radius: 8px;
  text-align: center;
  position: relative; /* 影のために必要 */

}

.metricCard00::before {
  content: '';
  position: absolute;
  border: 2px solid rgb(180, 185, 167);  /*枠線を黒で太く */
  bottom: -10%;  /* カードの下に影を置く */
  right: -5%;   /* カードの右に影を置く */
  width: 100%;    /* カードと同じ幅 */
  height: 100%;   /* カードと同じ高さ */
  background-color: rgb(238, 244, 223); /* 黒い四角形 */
  z-index: -1!important; /* カードの後ろに表示させる */
  border-radius: 8px; /* カードの角と合わせる */
}

/* アイコンを包むボックス */
.iconWrapper {
  width: 6vw; /* 正方形のサイズ */
  height: 6vw; /* 高さを60pxに調整 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc9326d2; /* アイコンの背景色 */
  border-radius: 68px; /* アイコンボックスを丸くする（任意） */
  margin-right: 0.5vw; /* アイコンとテキストの間にスペース */
}

/* アイコンとテキストが横並びに整列するように、.metricContent を調整 */
.metricContent {
  display: flex;
  flex-direction: column; /* テキストを縦に並べる */
  justify-content: center;
  background-color: #d66d6d2c;
  width: 100%;
  height: 100%;
}

/* ラベルのスタイル */
.metricLabel {
  font-size: 1vw;
  color: #888;
  margin-bottom: 4px;
  font-family: cursive;
}

/* メトリック値のスタイル */
.metricValue {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: cursive;
  color: #413e3e;
}

/* 変更指示のスタイル */
.changeIndicator {
  font-size: 1vw;
  margin-bottom: 4px;
  color: #888;
  font-family: cursive;
}

.changeINIndicator {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #d66d6d;
  font-family: cursive;
}

.changeOUTIndicator {
  font-size: 0.875rem;
  margin-bottom: 4px;
  color: #6db3d6;
  font-family: cursive;
}
