.fullbackContent {
    background-color: rgba(255, 250, 250, 0.9);
    border-radius: 40px 40px 40px 40px;
    position: relative;  
    z-index: 1; /* 他の要素よりも前面に表示 */
    height: 700px;
}



.title{
    margin-top: 2vw;
    display: flex;
    justify-content: center; /* 左右中央 */
    width: 100%;
    height: 100px;
    align-items: center;
}

.title1{
    display: flex;
    margin-top: 100px;
    justify-content: center; /* 左右中央 */
    /*background-color: blueviolet;*/
    /*background-image: url('../public/Pro8.png');*/
    background-size: contain; /* 画像が要素内に収まるようにする */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: repeat-x; /* 画像が繰り返されないようにする */
}
.title2{
    display: flex;
    margin-top: 2vw;
    /*height: 5vw;*/
    justify-content: center; /* 左右中央 */
    /*background-color: rgba(137, 43, 226, 0.116)*/
}
.title3{
    display: flex;
    margin-top: 2vw;
    /*height: 5vw;*/
    justify-content: center; /* 左右中央 */
    /*background-color: rgba(137, 43, 226, 0.116)*/
}




.proueback{
    font-weight:normal;
    /*background-color: aqua;*/
    width: calc(100%); 
    height: 30vw;
    justify-content: center; /* 左右中央 */
    align-items: center;       /* 上下中央揃え */
    /* 背景画像のサイズと位置を調整 */
    background-size: contain; /* 画像が要素内に収まるようにする */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像が繰り返されないようにする */

    display: flex; /* 子要素を横並びにする */
    gap: 1vw; /* 子要素の間に余白を追加 */

}

.piyoback{
    /*background-color: rgb(125, 186, 145);*/
    background-image: url('../../public/Pro3.png');
    margin-left: 2vw;
    width: 20vw;
    height: 20vw;
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ */
    display: flex;
    /* 背景画像のサイズと位置を調整 */
    background-size: contain; /* 画像が要素内に収まるようにする */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像が繰り返されないようにする */

}

.piyo03{
    margin-bottom: 1vw;
    margin-right: 2.5vw;
    height: 15vw;
    width: 15vw;
   /* background-color: rgba(127, 255, 212, 0.5);*/
}
.protext{
    margin-left: 5vw;
    margin-right: 1vw;
    /*background-color: rgb(149, 189, 162);*/
    width: 40vw;
    height: 25vw;
}
.pro_title{
    margin-right: 1rem;
    width: 200px;
    font-family: 'KraftMincho'; 
    font-weight:small;
    display: flex; /* 子要素を横並びにする */
}
/*nickname*/
.nicknameback{
    background-image: url('../../public/proback1.png');
    width: 120px;
    margin-bottom: 10px;
    display: flex; /* 子要素を横並びにする */
    /* 背景画像のサイズと位置を調整 */
    background-size: contain; /* 画像が要素内に収まるようにする */
    background-position: left; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.nicknameText {
    margin-left: 8vw;
    width: 16vw;
    font-size: 1rem; /* 文字の大きさ */
    font-weight: normal; /* 太字 */
   background-color: rgba(240, 255, 255, 0.372);
  }
  
  .nicknameInput {
    margin-left: 8vw;
    width: 16vw;
    font-size: 1rem; /* 文字の大きさ */
    background-color:rgba(191, 228, 228, 0.5)
  }
  
  /*ボタン*/
  .saveButton {
    /* ボタンのスタイル */
    font-size: 0.5rem;
    padding-top: 0.5rem;
    /*background-color: rgb(177, 198, 198);*/
  }
  .editButton{
    /* ボタンのスタイル */
    font-size: 0.5rem;
    padding-top: 0.5rem;
    /*background-color: rgb(177, 198, 198);*/
  }

  /*goal*/
.Goalback{
    width: 320px;
    margin-bottom: 10px;
    /*background-color: rgba(233, 184, 212, 0.361);*/
    display: flex; /* 子要素を横並びにする */
   
}
.goalWeightback{

    background-image: url('../../public/proback2.png');
    width: 60px;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.goalFatback{
    margin-right: 1vw;
    /*background-color: rgba(63, 188, 72, 0.842);*/
    background-image: url('../../public/proback3.png');
    width: 60px;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.goalMuscleback{
    margin-right: 1vw;
    /*background-color: rgba(63, 161, 188, 0.842);*/
    background-image: url('../../public/proback4.png');
    width: 60px;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.goalText{
    margin-left: 3px;
    padding-top: 10px;
    width: 8vw;
    font-size: 0.5rem; /* 文字の大きさ */
    font-weight:normal;
    /*background-color: rgba(240, 255, 255, 0.372);*/
    text-align: center;
  }
  
  .goalInput {
    margin-left: 3.5vw;
    padding-top: 1.8vw;
    width: 6vw;
    font-size: 0.5rem; /* 文字の大きさ */
    background-color: rgba(191, 228, 228, 0.5)
  }

  /*Hight&sex*/
  .pro_titleTall{
    margin-left: 0vw;
        margin-right: 1rem;
    font-family: 'KraftMincho'; 
    font-weight:normal;
    display: flex; /* 子要素を横並びにする */
  }
  .pro_titlesex{
    margin-left: 6vw;
       margin-right: 1rem;
    font-family: 'KraftMincho'; 
    font-weight:normal;
    display: flex; /* 子要素を横並びにする */
  }

 .HSback{
    margin-right: 1vw;

    width: 200px;
    height: 5vw;
    display: flex; /* 子要素を横並びにする */
   
}
.Heightback{
    /*background-color: rgba(151, 163, 203, 0.799);*/
    background-image: url('../../public/proback5.png');
    width: 80px;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}
.Sexback{
    /*background-color: rgba(63, 188, 72, 0.842);*/
    background-image: url('../../public/proback5.png');
    width: 80px;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}

.HSText{
    margin-right: 1vw;
    margin-left: 10px;
    width: 40px;
    font-size: 0.7rem; /* 文字の大きさ */
    font-weight:normal;
    background-color: rgba(240, 255, 255, 0.372);
  }
  
  .HSInput {
    margin-left: 5vw;
    width: 40px;
    font-size: 0.7rem; /* 文字の大きさ */
    /*background-color: rgba(191, 228, 228, 0.5)*/
  }

  
  
  /*Cal*/
  .prsitaback{
    margin-left: 8vw;
    /*background-color: rgba(0, 255, 255, 0.215);*/
    width: calc(80%); 
    height: 37vw;
    justify-content: center; /* 左右中央 */
    align-items: center;       /* 上下中央揃え */
    gap: 1vw; /* 子要素の間に余白を追加 */

  }

  .CAlbutton{
    margin-left: 25vw;
    /*background-color: rgba(0, 0, 255, 0.164);*/
  }
  
  .CLback{
    /*background-color: rgba(233, 184, 212, 0.361);*/
    width: 61vw;
    height: 10vw;
    display: flex; /* 子要素を横並びにする */
    justify-content: center; /* 左右中央 */
    gap: 2vw;
  }
  .CLText{
    padding-top: 2vw;
    width: 10vw;
    font-size: 1.8vw; /* 文字の大きさ */
    font-weight:normal;
    text-align: center;
    /*background-color: rgba(240, 255, 255, 0.372);*/
  }

  .CWeightback{
    margin-right: 1vw;
    /*background-color: rgba(188, 63, 178, 0.402);*/
    background-image: url('../../public/proback6.png');
    width: 12vw;
    justify-content: center; /* 左右中央 */
    align-items: center;       /* 上下中央揃え */
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}

.CFatback{
    margin-right: 1vw;
    /*background-color: rgba(63, 175, 188, 0.402);*/
    background-image: url('../../public/proback7.png');
    justify-content: center; /* 左右中央 */
    align-items: center;       /* 上下中央揃え */
    width: 12vw;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}

.CRemtback{
    margin-right: 1vw;
    /*background-color: rgba(63, 188, 111, 0.402);*/
    background-image: url('../../public/proback8.png');
    justify-content: center; /* 左右中央 */
    align-items: center;       /* 上下中央揃え */
    width: 12vw;
    display: flex; /* 子要素を横並びにする */
     /* 背景画像のサイズと位置を調整 */
     background-size: contain; /* 画像が要素内に収まるようにする */
     background-position: center; /* 画像を中央に配置 */
     background-repeat: no-repeat; /* 画像が繰り返されないようにする */
}

